extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'The CSS border properties allow you to specify the style, width, and color of an element'
    var myDescription = 'CSS border is easy and fun to learn'
    var landingPage = 'CSS';
    var activeLink = '/css/borders';

block awesome-content
  h1=myTitle
  p=myDescription
