extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'JavaScript comments can be used to explain JavaScript code, and to make it more readable.';
    var myDescription = 'JavaScript comments can also be used to prevent execution, when testing alternative code.';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/comments';

block awesome-content
  h1=myTitle
  p=myDescription
