extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'JavaScript Arithmetic Operators';
    var myDescription = 'Arithmetic operators are used to perform arithmetic on numbers';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/operators';

block awesome-content
  h1=myTitle
  p=myDescription
  ul
    li var x = 5 + 5;
    li var y = "5" + 5;
    li var z = "Hello" + 5;