extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'JavaScript variables are containers for storing data values.';
    var myDescription = 'In this example, x, y, and z, are variables:';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/variables';

block awesome-content
  h1=myTitle
  p=myDescription

