extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'JavaScript variables are containers for storing data values.';
    var myDescription = 'All JavaScript variables must be identified with unique name.';
    var landingPage = 'JavaScript';
    var activeLink = '/javascript/variables';

block awesome-content
  h1=myTitle
  p=myDescription
  p Identifiers can be short names ( like x and y) or more descriptive names (age, sum, toalVolume).

