extends ../../_component/layout/template

block cool-config
  -
    var myTitle = 'The CSS background properties are used to define the background effects for elements.'
    var myDescription = 'CSS background is easy and fun to learn'
    var landingPage = 'CSS';
    var activeLink = '/css/backgrounds';

block awesome-content
  h1=myTitle
  p=myDescription

